<div class="container">
    <div class="row">
      <div class="col-md-12 mt-3">
          <a type="button" class="btn btn-primary text-white" href="flicklists_explore.html">Explore FlickLists</a>
          <a type="button" class="btn btn-secondary text-white">My Followed Lists</a>
          <a type="button" class="btn btn-secondary text-white" href="my_lists.html">My Lists</a>
          
          
      </div>
    </div>
    </div>  
   <app-flist-full-width></app-flist-full-width>
   <div class="container">
    <div class="row">  <app-flist-semi-width class="col-md-6"></app-flist-semi-width>    <app-flist-semi-width class="col-md-6"></app-flist-semi-width>     </div>
    </div>