<div ><div class="slideshow_3 slideshow_wrapper pb_section">
    <div class="homeslideshow">
        <div class="slide_1">
            <div class="lazyload mt-5">
             <div class="container_sd"> 
               <div class="bg-dark p-4">
            <div class="row">
            
            <div class="col-md-12">
              <div class="slideshow__text-wrap slideshow__overlay classic middle text-left">
                <div class="slideshow__text-content_middle">
                  <div class="container_inner">
                    <div class="wrap-caption left">
                      <h2 class="h2 mega-title slideshow__title text-white">Featured Movies in October 2020</h2>
                      <h3 class="text-white h3">By FlickLists</h3>
                      <p class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.Lorem Ipsum is simply dummy text of the printing and typesetting industry. .</p>
                      

                    </div>
                  </div>
                </div>
              </div>
             </div>  
          
             </div> 
             <div class="row mt-5">
             <div class="col-md-12">
             <div class="row">
                <div class="col-2">
                    <p class="text-left text-white mt-5 h4 "><a href="#" class="text-white" tabindex="-1">4154 Like</a></p>

                </div> 
                <div class="col-2 d-flex">
                    <a href="#" class="text-white" style="margin: auto">454 Followers</a>
                </div>
                <div class="col-2">
                    <a href="title.html" class="text-white">                   <img src="https://m.media-amazon.com/images/M/MV5BYjYzOGE1MjUtODgyMy00ZDAxLTljYTgtNzk0Njg2YWQwMTZhXkEyXkFqcGdeQXVyMDM2NDM2MQ@@._V1_UX182_CR0,0,182,268_AL__QL50.jpg" class="img-fluid"></a>
                </div>
                <div class="col-2">
                    <a href="title.html" class="text-white">                   <img src="https://m.media-amazon.com/images/M/MV5BYjYzOGE1MjUtODgyMy00ZDAxLTljYTgtNzk0Njg2YWQwMTZhXkEyXkFqcGdeQXVyMDM2NDM2MQ@@._V1_UX182_CR0,0,182,268_AL__QL50.jpg" class="img-fluid"></a>
                </div>
                <div class="col-2">
                    <a href="title.html" class="text-white">                   <img src="https://m.media-amazon.com/images/M/MV5BYjYzOGE1MjUtODgyMy00ZDAxLTljYTgtNzk0Njg2YWQwMTZhXkEyXkFqcGdeQXVyMDM2NDM2MQ@@._V1_UX182_CR0,0,182,268_AL__QL50.jpg" class="img-fluid"></a>
                </div>
                   <div class="col-2 d-flex">
                      <a href="title.html" class="text-white text-center btn btn-secondary" style="margin: auto;font-size: 14px;padding: 3px;">5 More in The List</a>
                  </div>
               </div>
                </div>
             </div>
          </div>
             </div>
            </div>
          </div>
         
      
    </div>
  </div></div>