<div class="section">
    <div class="container">
      
      <div class="row">
        <div class="col-md-5">

          <!-- Example single danger button -->

          <div class="btn-group">
            <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              TV/Movie
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">TV/Movies</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>
          <div class="btn-group">
              <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Genre
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Year
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </div>
              <div class="btn-group">
                  <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Rating
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                  </div>
                </div>
        </div>
                <div class="col-md-3">
                    <div class="search__form">
                        <form class="search-bar__form" action="#">
                          <button class="go-btn search__button" type="submit"><i class="icon anm anm-search-l"></i></button>
                          <input class="search__input" name="q" value="" placeholder="Search entire ..." aria-label="Search" autocomplete="off" type="search">
                        </form>
                      
                      </div>
          </div>
          <div class="col-md-2">
              <div class="btn-group">
                  <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                  </div>
                </div>
          </div>
          <div class="col-md-2 text-right">
              <button type="button" class="btn btn-success" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="searchinverse()">Search
                </button>
          </div>
      </div>
</div>
</div>
  

    <!--Search Results-->
<div class="section" *ngIf="cond">
    <div class="container">
      
      <div class="row">
        <div class="col-md-12">
            <h3 class="product-single__title h1 text-white mb-3"><a href="#">Search Results</a></h3>
          </div>
      </div>
      <div class="row">
        <app-thumb  class="col-2" [titleID]="saved[0]"></app-thumb>
        <app-thumb  class="col-2" [titleID]="saved[1]"></app-thumb>
        <app-thumb  class="col-2" [titleID]="saved[2]"></app-thumb>
        <app-thumb  class="col-2" [titleID]="saved[3]"></app-thumb>
        <app-thumb  class="col-2" [titleID]="saved[4]"></app-thumb>
        <app-thumb  class="col-2" [titleID]="saved[5]"></app-thumb>

  </div>
    </div>
  </div>


  <div class="section" *ngIf="cond">
    <div class="container">
      
      <div class="row">
        <app-thumb  class="col-2" [titleID]="rec[0]"></app-thumb>
        <app-thumb  class="col-2" [titleID]="rec[1]"></app-thumb>
        <app-thumb  class="col-2" [titleID]="rec[2]"></app-thumb>
        <app-thumb  class="col-2" [titleID]="rec[3]"></app-thumb>
        <app-thumb  class="col-2" [titleID]="rec[4]"></app-thumb>
        <app-thumb  class="col-2" [titleID]="rec[5]"></app-thumb>
  </div>
      </div>
    </div>

  <div class="section" *ngIf="cond">
      <div class="container">
       
          <div class="row">
            <app-thumb  class="col-2" [titleID]="tre[0]"></app-thumb>
            <app-thumb  class="col-2" [titleID]="tre[1]"></app-thumb>
            <app-thumb  class="col-2" [titleID]="tre[2]"></app-thumb>
            <app-thumb  class="col-2" [titleID]="tre[3]"></app-thumb>
            <app-thumb  class="col-2" [titleID]="tre[4]"></app-thumb>
            <app-thumb  class="col-2" [titleID]="tre[5]"></app-thumb>
      </div>
      </div>
    </div>