<div class="slide">
    <div class="lazyload mt-5">
     <div class="container"> 
       <div class="bg-dark p-2">
    <div class="row">
  
      <div class="iframe_videos col-md-5">
      <div class="lazyload">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/K0eDlFX9GMc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-md-5">
        <div class=" classic middle text-left">
          <div class=" middle">
            <div class="container_inner">
                <div class="wrap-caption left">
                  <h2 class="h3 mega-title text-white"><a href="title.html" class="text-white">{{title}}</a><span class="text-dark bg-warning" style="font-size: 16px;">IMDb 7.5</span></h2>
                  <p class="text-white">{{shortDescription}}</p>
                </div>
                <div style="clear:both"></div>
                <div class="row mt-4 px-3">
                    <div class="col-md-4">
                        <p><a href="#" class="text-white">Watched</a></p>
                        <p><a href="#" class="text-white">Save For Later</a></p>
                    </div>
                  <div class="col-md-8">
                      <a href="#" class="btn btn-danger">Netfilix</a>
                      <a href="#" class="btn btn-primary">Amazon Prime</a> 
                  </div>
                </div>
              </div>
          </div>
        </div>
       </div>  
  
     <div class="col-md-2">
       <div class="single_img">
      <a href="title.html" class="text-white">                   <img src="{{img}}" class="img-fluid"></a>
      <p class="text-right text-white mt-2"><a href="#" class="text-white">Like</a> | <a href="#" class="text-white">Dislike</a></p>
      </div>
  
     </div>
     </div> 
     </div>
     </div>
    </div>
  </div>
  
  