<app-mini-title  [titleID]="featureID"></app-mini-title>

<div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <h3 class="product-single__title h1 text-white mb-3"><a href="#">Saved For Later</a></h3>
          </div>
      </div>
      <div class="row">
            <app-thumb  class="col-2" [titleID]="saved[0]"></app-thumb>
            <app-thumb  class="col-2" [titleID]="saved[1]"></app-thumb>
            <app-thumb  class="col-2" [titleID]="saved[2]"></app-thumb>
            <app-thumb  class="col-2" [titleID]="saved[3]"></app-thumb>
            <app-thumb  class="col-2" [titleID]="saved[4]"></app-thumb>
            <app-thumb  class="col-2" [titleID]="saved[5]"></app-thumb>

      </div>
    </div>
  </div>
  
  <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
              <h3 class="product-single__title h1 text-white mb-3"><a href="#">Recommended For You</a></h3>
            </div>
        </div>
        <div class="row">
            <app-thumb  class="col-2" [titleID]="rec[0]"></app-thumb>
            <app-thumb  class="col-2" [titleID]="rec[1]"></app-thumb>
            <app-thumb  class="col-2" [titleID]="rec[2]"></app-thumb>
            <app-thumb  class="col-2" [titleID]="rec[3]"></app-thumb>
            <app-thumb  class="col-2" [titleID]="rec[4]"></app-thumb>
            <app-thumb  class="col-2" [titleID]="rec[5]"></app-thumb>
      </div>
      </div>
    </div>
  
    <div class="section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
                <h3 class="product-single__title h1 text-white mb-3"><a href="#">Trending Movies</a></h3>
              </div>
          </div>
          <div class="row">
            <app-thumb  class="col-2" [titleID]="tre[0]"></app-thumb>
            <app-thumb  class="col-2" [titleID]="tre[1]"></app-thumb>
            <app-thumb  class="col-2" [titleID]="tre[2]"></app-thumb>
            <app-thumb  class="col-2" [titleID]="tre[3]"></app-thumb>
            <app-thumb  class="col-2" [titleID]="tre[4]"></app-thumb>
            <app-thumb  class="col-2" [titleID]="tre[5]"></app-thumb>
      </div>
        </div>
      </div>
      
