<div class="slideshow_3 slideshow_wrapper pb-section">
    <div class="homeslideshow">
        <div class="slide_1">
            <div class="lazyload mt-5">
             <div class="container"> 
               <div class="bg-dark p-4">
            <div class="row">
            
            <div class="col-md-10">
              <div class="slideshow__text-wrap slideshow__overlay classic middle text-left">
                <div class="slideshow__text-content_middle">
                  <div class="container_inner">
                    <div class="wrap-caption left">
                      <h2 class="h2 mega-title slideshow__title text-white">Featured Movies in October 2020</h2>
                      <h3 class="text-white h3">By FlickLists</h3>
                      <p class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                      <p class="text-left text-white mt-5 h2"><a href="#" class="text-white" tabindex="-1">4154 Like</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#" class="text-white" tabindex="-1">454 Followers</a></p>

                    </div>
                  </div>
                </div>
              </div>
             </div>  
             <div class="col-md-2">
               <div class="single_img">
              <a href="title.html" class="text-white">                   <img src="https://m.media-amazon.com/images/M/MV5BYjYzOGE1MjUtODgyMy00ZDAxLTljYTgtNzk0Njg2YWQwMTZhXkEyXkFqcGdeQXVyMDM2NDM2MQ@@._V1_UX182_CR0,0,182,268_AL__QL50.jpg" class="img-fluid"></a>
              <p class="text-left text-white mt-2"><a href="title.html" class="text-white">The Trial of the Chicago 7</a></p>
              </div>
  
             </div>
             </div> 
             <div class="row mt-5">
             <div class="col-md-8">
             <div class="row">
                <div class="col-2">
                    <a href="title.html" class="text-white">                   <img src="https://m.media-amazon.com/images/M/MV5BYjYzOGE1MjUtODgyMy00ZDAxLTljYTgtNzk0Njg2YWQwMTZhXkEyXkFqcGdeQXVyMDM2NDM2MQ@@._V1_UX182_CR0,0,182,268_AL__QL50.jpg" class="img-fluid"></a>
                </div>
                <div class="col-2">
                    <a href="title.html" class="text-white">                   <img src="https://m.media-amazon.com/images/M/MV5BYjYzOGE1MjUtODgyMy00ZDAxLTljYTgtNzk0Njg2YWQwMTZhXkEyXkFqcGdeQXVyMDM2NDM2MQ@@._V1_UX182_CR0,0,182,268_AL__QL50.jpg" class="img-fluid"></a>
                </div>
                <div class="col-2">
                    <a href="title.html" class="text-white">                   <img src="https://m.media-amazon.com/images/M/MV5BYjYzOGE1MjUtODgyMy00ZDAxLTljYTgtNzk0Njg2YWQwMTZhXkEyXkFqcGdeQXVyMDM2NDM2MQ@@._V1_UX182_CR0,0,182,268_AL__QL50.jpg" class="img-fluid"></a>
                </div>
                <div class="col-2">
                    <a href="title.html" class="text-white">                   <img src="https://m.media-amazon.com/images/M/MV5BYjYzOGE1MjUtODgyMy00ZDAxLTljYTgtNzk0Njg2YWQwMTZhXkEyXkFqcGdeQXVyMDM2NDM2MQ@@._V1_UX182_CR0,0,182,268_AL__QL50.jpg" class="img-fluid"></a>
                </div>
                <div class="col-2">
                    <a href="title.html" class="text-white">                   <img src="https://m.media-amazon.com/images/M/MV5BYjYzOGE1MjUtODgyMy00ZDAxLTljYTgtNzk0Njg2YWQwMTZhXkEyXkFqcGdeQXVyMDM2NDM2MQ@@._V1_UX182_CR0,0,182,268_AL__QL50.jpg" class="img-fluid"></a>
                </div>
                <div class="col-2">
                    <a href="title.html" class="text-white">                   <img src="https://m.media-amazon.com/images/M/MV5BYjYzOGE1MjUtODgyMy00ZDAxLTljYTgtNzk0Njg2YWQwMTZhXkEyXkFqcGdeQXVyMDM2NDM2MQ@@._V1_UX182_CR0,0,182,268_AL__QL50.jpg" class="img-fluid"></a>
                </div>
            </div>
             </div>
             <div class="col-md-4">
                <div class="row">
                   
                   <div class="col-4">
                       <a href="title.html" class="text-white">                   <img src="https://m.media-amazon.com/images/M/MV5BYjYzOGE1MjUtODgyMy00ZDAxLTljYTgtNzk0Njg2YWQwMTZhXkEyXkFqcGdeQXVyMDM2NDM2MQ@@._V1_UX182_CR0,0,182,268_AL__QL50.jpg" class="img-fluid"></a>
                   </div>
                   <div class="col-4">
                       <a href="title.html" class="text-white">                   <img src="https://m.media-amazon.com/images/M/MV5BYjYzOGE1MjUtODgyMy00ZDAxLTljYTgtNzk0Njg2YWQwMTZhXkEyXkFqcGdeQXVyMDM2NDM2MQ@@._V1_UX182_CR0,0,182,268_AL__QL50.jpg" class="img-fluid"></a>
                   </div>
                   <div class="col-4 d-flex">
                      <a href="title.html" class="text-white text-center btn btn-secondary" style="margin: auto">5 More in The List</a>
                  </div>
               </div>
                </div>
             </div>
          </div>
             </div>
            </div>
          </div>
         
      
    </div>
  </div>